

.vvv{
    text-align: center;
    background-color: blue;
    border-radius: 30px;
    border: 5px solid red;
}

.oizs{
    color: green;
}
.xrxr{
    color: red;
}
.wuwu{
    color: darkgreen;
}
.tgg{
    color: blanchedalmond;
}
.olol{
    color: orangered;
}


table{
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 2px solid black;
    background-color: red;
    color: white;
}
caption{
    background-color: yellow;
}